body {
    background-color: rgb(56, 56, 56);
}

button {
    outline: none;
    border: 0;
    cursor: pointer;
}

.modalView {
    padding: 10px;
    width: 300px;
    height: 400px;
    margin: auto;
    margin-top: 50px;
    text-align: center;
    background-color: black;
    color: white;
    border-radius: 20px;
    padding: 35px;
}

input {
    display: block;
    border-radius: 10px;
}

.input__content {
    width: 280px;
    height: 180px;
}

.input__origin {
    width: 280px;
    height: 60px;
}

.modal__headerBtn {
    position: relative;
    left: 60px;
    top: 0px;
    background-color: transparent;
    color: white;
    font-size: 30px;
}

.add {
    padding: 1rem;
    text-align: end;
}

.add__btn {
    position: fixed;
    bottom: 40px;
    right: 40px;
    background-color: rgba(233, 233, 233, 0.9);
    color: black;
    padding: 1rem;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    font-size: 32px;
}

.navbar {
    padding: 1em;
    background-color: rgba(233, 233, 233, 0.9);
    text-align: center;
}

.navbar__logo {
    color: black;
    font-size: 2.5rem;
    font-weight: bold;
}

.items {
    text-align: center;
    overflow: auto;
}

.item {
    height: 400px;
    width: 300px;
    margin: 1em;
    padding: 1.5rem;
    background-color: rgba(233, 233, 233, 0.9);
    color: black;
    height: 250px;
    border-radius: 20px;
    display: inline-block;
}
