body {
    background-color: dimgray;
}

button {
    outline: none;
    border: 0;
    cursor: pointer;
}

.modalView {
    width: 300px;
    height: 400px;
    margin: auto;
    margin-top: 50px;
    text-align: center;
    background-color: black;
    color: white;
    border-radius: 20px;
    padding: 35px;
}

.add {
    padding: 1rem;
    text-align: end;
}

.add__btn {
    padding: 1rem;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    font-size: 32px;
}

.navbar {
    padding: 1em;
    background-color: white;
    opacity: 0.85;
    text-align: center;
}

.navbar__logo {
    color: black;
    font-size: 2rem;
    font-weight: bold;
}

.items {
    height: 350px;
    text-align: center;
    display: flex;
    overflow-x: scroll;
}

.item {
    margin: 1em;
    padding: 1.5rem;
    background-color: white;
    opacity: 0.9;
    height: 250px;
    border-radius: 20px;
    display: inline-block;
}
